language: android
dist: trusty

branches:
  only:
  - master
  - dev

android:
  components:
  - build-tools-29.0.2
  - android-29
  - tools
  - tools
  - platform-tools
  
before_install:
  - chmod +x gradlew
  - yes | sdkmanager --update
  - yes | sdkmanager --licenses
  
script:
  - "./gradlew androidDependencies clean build test"
  
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

notifications:
  slack:
    rooms:
      - awesomeplanb:pwlilBY08nuCZqbCTX09meOq#android
    on_success: always
    on_failure: always
  email:
    recipients:
      - dikolight203@gmail.com
    on_success: never
    on_failure: always
