<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dsm.dsmmarketandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".presentation.BaseApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentation.ui.password.forgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.main.purchase.purchaseImage.PurchaseImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.main.rent.rentImage.RentImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.me.language.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.me.openSource.OpenSourceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.category.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.modify.rent.ModifyRentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.modify.purchase.ModifyPurchaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.main.rent.rentDetail.RentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.password.passwordConfirm.PasswordConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.post.postCategory.PostCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.search.searchResult.SearchResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.post.postRent.PostRentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.post.postPurchase.PostPurchaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.comment.addComment.AddCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.comment.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.main.purchase.purchaseDetail.PurchaseDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"/>
        <activity
            android:name=".presentation.ui.category.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.me.recent.RecentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.me.myPost.MyPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.me.interest.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.ui.me.changeNick.ChangeNickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".presentation.ui.password.changePassword.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.auth.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.ui.start.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme" />
        <activity
            android:name=".presentation.ui.auth.signUp.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WhiteAppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>