<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dsm.dsmmarketandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.ui.searchResult.SearchResultActivity"></activity>
        <activity android:name=".presentation.ui.chat.ChatActivity" />
        <activity android:name=".presentation.ui.post.postRent.PostRentActivity" />
        <activity android:name=".presentation.ui.post.postPurchase.PostPurchaseActivity" />
        <activity
            android:name=".presentation.ui.addComment.AddCommentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.ui.comment.CommentActivity" />
        <activity android:name=".presentation.ui.purchaseDetail.PurchaseDetailActivity" />
        <activity android:name=".presentation.ui.category.CategoryActivity" />
        <activity android:name=".presentation.ui.search.SearchActivity" />
        <activity android:name=".presentation.ui.past.PastActivity" />
        <activity android:name=".presentation.ui.myPost.MyPostActivity" />
        <activity android:name=".presentation.ui.interest.InterestActivity" />
        <activity android:name=".presentation.ui.changeName.ChangeNameActivity" />
        <activity android:name=".presentation.ui.changePassword.ChangePasswordActivity" />
        <activity android:name=".presentation.ui.findPassword.FindPasswordActivity" />
        <activity android:name=".presentation.ui.login.LoginActivity" />
        <activity android:name=".presentation.ui.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.signUp.SignUpActivity" />
        <activity android:name=".presentation.ui.main.MainActivity" />
    </application>

</manifest>